USE [master]
GO
/****** Object:  Database [ReclutamientoAlpha]    Script Date: 18/11/2025 02:52:23 p. m. ******/
CREATE DATABASE [ReclutamientoAlpha]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReclutamientoAlpha', FILENAME = N'C:\SQLData\ReclutamientoAlpha.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReclutamientoAlpha_log', FILENAME = N'C:\SQLData\ReclutamientoAlpha_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReclutamientoAlpha].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReclutamientoAlpha]
GO
/****** Object:  User [ReclutamientoUser]    Script Date: 18/11/2025 02:52:23 p. m. ******/
CREATE USER [ReclutamientoUser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ReclutamientoUser]
GO
/****** Object:  Schema [stg]    Script Date: 18/11/2025 02:52:23 p. m. ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre_area] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puesto]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puesto](
	[id_puesto] [int] IDENTITY(1,1) NOT NULL,
	[id_area] [int] NOT NULL,
	[nombre_puesto] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JefeInmediato]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JefeInmediato](
	[id_jefe_inmediato] [int] IDENTITY(1,1) NOT NULL,
	[nombre_jefe] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_jefe_inmediato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salario]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salario](
	[id_salario] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](60) NOT NULL,
	[monto] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_salario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoNomina]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoNomina](
	[id_tipo_nomina] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_nomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[num_trabajador] [nvarchar](60) NULL,
	[nombre_completo] [nvarchar](180) NOT NULL,
	[sexo] [nvarchar](10) NULL,
	[fecha_nacimiento] [date] NULL,
	[calle_numero] [nvarchar](160) NULL,
	[colonia] [nvarchar](120) NULL,
	[municipio] [nvarchar](120) NULL,
	[estado] [nvarchar](40) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[telefono] [nvarchar](30) NULL,
	[estado_civil] [nvarchar](30) NULL,
	[escolaridad] [nvarchar](80) NULL,
	[curp] [nvarchar](18) NULL,
	[rfc] [nvarchar](13) NULL,
	[nss] [nvarchar](30) NULL,
	[fecha_ingreso] [date] NULL,
	[ultima_evaluacion] [date] NULL,
	[correo_electronico] [nvarchar](120) NULL,
	[num_credencial_num] [nvarchar](20) NULL,
	[num_credencial] [nvarchar](64) NULL,
	[estado_nacimiento] [nvarchar](50) NULL,
	[edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiario]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiario](
	[id_beneficiario] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[nombre] [nvarchar](180) NOT NULL,
	[telefono] [nvarchar](30) NULL,
	[parentesco] [nvarchar](60) NOT NULL,
	[correo] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_beneficiario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrato]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato](
	[id_contrato] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_tipo_contrato] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[id_area] [int] NOT NULL,
	[id_puesto] [int] NOT NULL,
	[id_jefe_inmediato] [int] NOT NULL,
	[id_salario] [int] NOT NULL,
	[id_tipo_nomina] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Raw_Empleados]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Raw_Empleados](
	[num_trabajador] [nvarchar](255) NULL,
	[nombre_completo] [nvarchar](255) NULL,
	[numero_credencial] [nvarchar](255) NULL,
	[sexo] [nvarchar](255) NULL,
	[fecha_nacimiento] [nvarchar](255) NULL,
	[edad] [nvarchar](255) NULL,
	[calle_numero] [nvarchar](255) NULL,
	[colonia] [nvarchar](255) NULL,
	[municipio] [nvarchar](255) NULL,
	[estado] [nvarchar](255) NULL,
	[codigo_postal] [nvarchar](255) NULL,
	[telefono] [nvarchar](255) NULL,
	[estado_civil] [nvarchar](255) NULL,
	[escolaridad] [nvarchar](255) NULL,
	[curp] [nvarchar](255) NULL,
	[rfc] [nvarchar](255) NULL,
	[nss] [nvarchar](255) NULL,
	[fecha_ingreso] [nvarchar](255) NULL,
	[id_area] [nvarchar](255) NULL,
	[id_puesto] [nvarchar](255) NULL,
	[id_jefe] [nvarchar](255) NULL,
	[salario] [nvarchar](255) NULL,
	[tipo_nomina] [nvarchar](255) NULL,
	[benef_nombre] [nvarchar](255) NULL,
	[benef_telefono] [nvarchar](255) NULL,
	[benef_parentesco] [nvarchar](255) NULL,
	[tipo_contrato] [nvarchar](255) NULL,
	[num_credencial] [nvarchar](255) NULL,
	[ultima_evaluacion] [nvarchar](255) NULL,
	[correo_electronico] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmpleadosFull]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ VISTA MEJORADA QUE PRIORIZA CONTRATO ABIERTO
CREATE   VIEW [dbo].[vw_EmpleadosFull]
AS
SELECT
  e.id_empleado,
  e.num_trabajador,
  e.nombre_completo,
  e.sexo,
  e.fecha_nacimiento,
  e.calle_numero, 
  e.colonia, 
  e.municipio, 
  e.estado, 
  e.codigo_postal,
  e.telefono,
  
  -- ✅ ESTADO CIVIL con fallback robusto
  COALESCE(
    NULLIF(LTRIM(RTRIM(e.estado_civil)), ''),
    NULLIF(LTRIM(RTRIM(r.estado_civil)), '')
  ) AS estado_civil,
  
  e.escolaridad,
  e.curp, 
  e.rfc, 
  e.nss,
  e.correo_electronico AS correo,

  -- Credencial robusta
  COALESCE(
    NULLIF(LTRIM(RTRIM(CONVERT(NVARCHAR(64), e.num_credencial))), ''),
    NULLIF(LTRIM(RTRIM(r.numero_credencial)), ''),
    NULLIF(LTRIM(RTRIM(r.num_credencial)), '')
  ) AS credencial,

  COALESCE(e.fecha_ingreso, TRY_CONVERT(date, r.fecha_ingreso)) AS fecha_ingreso,

  -- ✅ PRIORIDAD: Contrato → Staging
  COALESCE(con.nombre_area, LTRIM(RTRIM(r.id_area))) AS area,
  COALESCE(con.nombre_puesto, LTRIM(RTRIM(r.id_puesto))) AS puesto,
  COALESCE(con.nombre_jefe, LTRIM(RTRIM(r.id_jefe))) AS jefe,
  COALESCE(con.tipo_nomina, LTRIM(RTRIM(r.tipo_nomina))) AS tipo_nomina,
  COALESCE(con.salario_monto, TRY_CONVERT(DECIMAL(12,2), REPLACE(REPLACE(r.salario, ',', ''), '$', ''))) AS salario_monto,

  -- Beneficiario (prioriza tabla Beneficiario sobre staging)
  COALESCE(ben.nombre, LTRIM(RTRIM(r.benef_nombre))) AS benef_nombre,
  COALESCE(ben.telefono, LTRIM(RTRIM(r.benef_telefono))) AS benef_telefono,
  COALESCE(ben.parentesco, LTRIM(RTRIM(r.benef_parentesco))) AS benef_parentesco

FROM dbo.Empleado e

-- ✅ Staging (datos planos del Excel)
LEFT JOIN stg.Raw_Empleados r
  ON LTRIM(RTRIM(r.num_trabajador)) = LTRIM(RTRIM(e.num_trabajador))

-- ✅ NUEVO: Contrato ABIERTO más reciente (PRIORIDAD)
OUTER APPLY (
  SELECT TOP 1
    a.nombre_area,
    p.nombre_puesto,
    j.nombre_jefe,
    tn.descripcion AS tipo_nomina,
    s.monto AS salario_monto
  FROM dbo.Contrato c
  LEFT JOIN dbo.Area a ON a.id_area = c.id_area
  LEFT JOIN dbo.Puesto p ON p.id_puesto = c.id_puesto
  LEFT JOIN dbo.JefeInmediato j ON j.id_jefe_inmediato = c.id_jefe_inmediato
  LEFT JOIN dbo.TipoNomina tn ON tn.id_tipo_nomina = c.id_tipo_nomina
  LEFT JOIN dbo.Salario s ON s.id_salario = c.id_salario
  WHERE c.id_empleado = e.id_empleado
    AND c.fecha_fin IS NULL -- Solo contratos abiertos
  ORDER BY c.id_contrato DESC
) con

-- ✅ NUEVO: Beneficiario más reciente
OUTER APPLY (
  SELECT TOP 1
    nombre,
    telefono,
    parentesco
  FROM dbo.Beneficiario b
  WHERE b.id_empleado = e.id_empleado
  ORDER BY b.id_beneficiario DESC
) ben;

GO
/****** Object:  View [stg].[Empleados_Tipado]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [stg].[Empleados_Tipado] AS
SELECT
  LTRIM(RTRIM(num_trabajador))  AS num_trabajador,
  LTRIM(RTRIM(nombre_completo)) AS nombre_completo,
  LTRIM(RTRIM(num_credencial))  AS num_credencial,
  LTRIM(RTRIM(sexo)) AS sexo,

  COALESCE(TRY_CONVERT(date, fecha_nacimiento, 103),
           TRY_CONVERT(date, fecha_nacimiento, 105),
           TRY_CONVERT(date, fecha_nacimiento, 120)) AS fecha_nacimiento,

  LTRIM(RTRIM(calle_numero)) AS calle_numero,
  LTRIM(RTRIM(colonia)) AS colonia,
  LTRIM(RTRIM(municipio)) AS municipio,
  CASE 
    WHEN estado IN (N'Tlaxcala', N'tlaxcala') THEN N'Tlaxcala'
    WHEN estado IN (N'Puebla',   N'puebla')   THEN N'Puebla'
    ELSE estado
  END AS estado,

  LTRIM(RTRIM(codigo_postal)) AS codigo_postal,
  LTRIM(RTRIM(telefono)) AS telefono,
  LTRIM(RTRIM(estado_civil)) AS estado_civil,
  LTRIM(RTRIM(escolaridad))  AS escolaridad,
  NULLIF(LTRIM(RTRIM(curp)), N'') AS curp,
  NULLIF(LTRIM(RTRIM(rfc)),  N'') AS rfc,
  NULLIF(LTRIM(RTRIM(nss)),  N'') AS nss,

  COALESCE(TRY_CONVERT(date, fecha_ingreso, 103),
           TRY_CONVERT(date, fecha_ingreso, 105),
           TRY_CONVERT(date, fecha_ingreso, 120)) AS fecha_ingreso,

  TRY_CONVERT(int, id_area)   AS id_area,
  TRY_CONVERT(int, id_puesto) AS id_puesto,
  TRY_CONVERT(int, id_jefe)   AS id_jefe,

  LTRIM(RTRIM(salario))     AS salario,
  LTRIM(RTRIM(tipo_nomina)) AS tipo_nomina,

  COALESCE(TRY_CONVERT(date, ultima_evaluacion, 103),
           TRY_CONVERT(date, ultima_evaluacion, 105),
           TRY_CONVERT(date, ultima_evaluacion, 120)) AS ultima_evaluacion,

  LTRIM(RTRIM(benef_nombre))     AS benef_nombre,
  LTRIM(RTRIM(benef_telefono))   AS benef_telefono,
  LTRIM(RTRIM(benef_parentesco)) AS benef_parentesco,

  -- NUEVO campo del empleado (desde staging)
  NULLIF(LTRIM(RTRIM(correo_electronico)), N'') AS correo_electronico
FROM stg.Raw_Empleados;
GO
/****** Object:  View [dbo].[vw_Empleado_Consulta]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2) Vista "mínima" alineada a tus columnas actuales
CREATE VIEW [dbo].[vw_Empleado_Consulta] AS
SELECT 
  e.id_empleado,
  e.num_trabajador,
  e.nombre_completo,
  e.sexo,
  e.fecha_nacimiento,
  e.calle_numero,
  e.colonia,
  e.municipio
FROM dbo.Empleado e;
GO
/****** Object:  View [dbo].[vEmpleadoDetalle]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vEmpleadoDetalle] AS
SELECT
  e.id_empleado,
  e.num_trabajador,
  e.nombre_completo,
  e.sexo,
  e.fecha_nacimiento,
  e.calle_numero, e.colonia, e.municipio, e.estado, e.codigo_postal,
  e.telefono, e.estado_civil, e.escolaridad,
  e.curp, e.rfc, e.nss,
  e.fecha_ingreso,
  e.correo_electronico,
  e.num_credencial,

  a.nombre_area      AS area,
  p.nombre_puesto    AS puesto,
  j.nombre_jefe      AS jefe_inmediato,

  -- salario: dejamos monto y descripción
  s.descripcion      AS salario_desc,
  s.monto            AS salario_monto,

  tn.descripcion     AS tipo_nomina,

  -- Beneficiario (si hay varios, la vista devolverá varias filas; en el SP normalizamos)
  b.nombre           AS benef_nombre,
  b.parentesco       AS benef_parentesco,
  b.telefono         AS benef_telefono,
  b.correo           AS benef_correo
FROM dbo.Empleado e
LEFT JOIN stg.Raw_Empleados r
       ON LTRIM(RTRIM(r.num_trabajador)) = LTRIM(RTRIM(e.num_trabajador))
LEFT JOIN dbo.Area a
       ON a.nombre_area = LTRIM(RTRIM(r.id_area))
LEFT JOIN dbo.Puesto p
       ON p.nombre_puesto = LTRIM(RTRIM(r.id_puesto)) AND a.id_area = p.id_area
LEFT JOIN dbo.JefeInmediato j
       ON j.nombre_jefe = LTRIM(RTRIM(r.id_jefe))
LEFT JOIN dbo.Salario s
       ON s.monto = TRY_CONVERT(DECIMAL(12,2), REPLACE(REPLACE(r.salario, ',', ''), '$', ''))
        OR (s.descripcion = N'Migrado ' + LTRIM(RTRIM(r.salario)) AND s.monto IS NULL)
LEFT JOIN dbo.TipoNomina tn
       ON tn.descripcion = LTRIM(RTRIM(r.tipo_nomina))
LEFT JOIN dbo.Beneficiario b
       ON b.id_empleado = e.id_empleado;
GO
/****** Object:  Table [dbo].[TipoContrato]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoContrato](
	[id_tipo_contrato] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[CredencialesManual]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[CredencialesManual](
	[num_trabajador] [nvarchar](50) NOT NULL,
	[credencial_txt] [nvarchar](64) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Import_NumCredencial]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Import_NumCredencial](
	[id_carga] [int] IDENTITY(1,1) NOT NULL,
	[num_trabajador] [nvarchar](255) NOT NULL,
	[num_credencial_raw] [nvarchar](255) NULL,
	[fuente_archivo] [nvarchar](260) NULL,
	[fecha_carga] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([id_area], [nombre_area]) VALUES (1, N'ALMACEN')
INSERT [dbo].[Area] ([id_area], [nombre_area]) VALUES (2, N'CLASIFICADO')
INSERT [dbo].[Area] ([id_area], [nombre_area]) VALUES (3, N'EMBARQUES')
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
SET IDENTITY_INSERT [dbo].[Beneficiario] ON 

INSERT [dbo].[Beneficiario] ([id_beneficiario], [id_empleado], [nombre], [telefono], [parentesco], [correo]) VALUES (527, 351, N'ANAYELY TZOMPANTZI CRUZ', N'246 358 56 93', N'Cónyuge', N'jesusroldanpineda@gmail.com')
INSERT [dbo].[Beneficiario] ([id_beneficiario], [id_empleado], [nombre], [telefono], [parentesco], [correo]) VALUES (528, 352, N'FRANCISCO MANUEL SANCHEZ MELENDEZ', N'246 757 89 98', N'Hijo', NULL)
INSERT [dbo].[Beneficiario] ([id_beneficiario], [id_empleado], [nombre], [telefono], [parentesco], [correo]) VALUES (529, 353, N'JUANA GUERRERO ROSALES', N'246 377 59 99', N'Madre', N'israperez092@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Beneficiario] OFF
GO
SET IDENTITY_INSERT [dbo].[Contrato] ON 

INSERT [dbo].[Contrato] ([id_contrato], [id_empleado], [id_tipo_contrato], [fecha_inicio], [fecha_fin], [id_area], [id_puesto], [id_jefe_inmediato], [id_salario], [id_tipo_nomina]) VALUES (13, 349, 1, CAST(N'2025-05-20' AS Date), NULL, 19, 62, 1, 13, 2)
INSERT [dbo].[Contrato] ([id_contrato], [id_empleado], [id_tipo_contrato], [fecha_inicio], [fecha_fin], [id_area], [id_puesto], [id_jefe_inmediato], [id_salario], [id_tipo_nomina]) VALUES (14, 350, 1, CAST(N'2025-05-20' AS Date), NULL, 6, 61, 5, 13, 2)
INSERT [dbo].[Contrato] ([id_contrato], [id_empleado], [id_tipo_contrato], [fecha_inicio], [fecha_fin], [id_area], [id_puesto], [id_jefe_inmediato], [id_salario], [id_tipo_nomina]) VALUES (15, 358, 1, CAST(N'2025-05-20' AS Date), NULL, 20, 63, 5, 14, 2)
SET IDENTITY_INSERT [dbo].[Contrato] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

GO
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[JefeInmediato] ON 

INSERT [dbo].[JefeInmediato] ([id_jefe_inmediato], [nombre_jefe]) VALUES (1, N'ING.  MIGUEL ANGEL ORDOÑEZ GARCIA')
INSERT [dbo].[JefeInmediato] ([id_jefe_inmediato], [nombre_jefe]) VALUES (2, N'ING. ARGUELLES CESPEDES JOSE RICARDO')
INSERT [dbo].[JefeInmediato] ([id_jefe_inmediato], [nombre_jefe]) VALUES (3, N'ING. EDGAR ZAPATA FLORES')
SET IDENTITY_INSERT [dbo].[JefeInmediato] OFF
GO
SET IDENTITY_INSERT [dbo].[Puesto] ON 

INSERT [dbo].[Puesto] ([id_puesto], [id_area], [nombre_puesto]) VALUES (1, 1, N'MONTACARGUISTA')
INSERT [dbo].[Puesto] ([id_puesto], [id_area], [nombre_puesto]) VALUES (2, 2, N'ARMADOR DE PALANCA')
INSERT [dbo].[Puesto] ([id_puesto], [id_area], [nombre_puesto]) VALUES (3, 2, N'ARMADOR DE TANQUE')
SET IDENTITY_INSERT [dbo].[Puesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Salario] ON 

INSERT [dbo].[Salario] ([id_salario], [descripcion], [monto]) VALUES (1, N'250', NULL)
INSERT [dbo].[Salario] ([id_salario], [descripcion], [monto]) VALUES (2, N'258.91000000000003', NULL)
INSERT [dbo].[Salario] ([id_salario], [descripcion], [monto]) VALUES (3, N'278.80000000000001', NULL)
SET IDENTITY_INSERT [dbo].[Salario] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoContrato] ON 

INSERT [dbo].[TipoContrato] ([id_tipo_contrato], [descripcion]) VALUES (1, N'Contrato empleado definido')
INSERT [dbo].[TipoContrato] ([id_tipo_contrato], [descripcion]) VALUES (2, N'Contrato empleado indefinido')
INSERT [dbo].[TipoContrato] ([id_tipo_contrato], [descripcion]) VALUES (3, N'Contrato sindical definido')
SET IDENTITY_INSERT [dbo].[TipoContrato] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoNomina] ON 

INSERT [dbo].[TipoNomina] ([id_tipo_nomina], [descripcion]) VALUES (1, N'QUINCENAL')
INSERT [dbo].[TipoNomina] ([id_tipo_nomina], [descripcion]) VALUES (2, N'SEMANAL')
INSERT [dbo].[TipoNomina] ([id_tipo_nomina], [descripcion]) VALUES (3, N'Mensual')
SET IDENTITY_INSERT [dbo].[TipoNomina] OFF
GO
INSERT [stg].[CredencialesManual] ([num_trabajador], [credencial_txt]) VALUES (N'2130', NULL)
INSERT [stg].[CredencialesManual] ([num_trabajador], [credencial_txt]) VALUES (N'98750', NULL)
INSERT [stg].[CredencialesManual] ([num_trabajador], [credencial_txt]) VALUES (N'4713', NULL)
GO
SET IDENTITY_INSERT [stg].[Import_NumCredencial] ON 

INSERT [stg].[Import_NumCredencial] ([id_carga], [num_trabajador], [num_credencial_raw], [fuente_archivo], [fecha_carga]) VALUES (1, N'2130', NULL, NULL, CAST(N'2025-08-28T22:05:20.0000000' AS DateTime2))
INSERT [stg].[Import_NumCredencial] ([id_carga], [num_trabajador], [num_credencial_raw], [fuente_archivo], [fecha_carga]) VALUES (2, N'98750', NULL, NULL, CAST(N'2025-08-28T22:05:20.0000000' AS DateTime2))
INSERT [stg].[Import_NumCredencial] ([id_carga], [num_trabajador], [num_credencial_raw], [fuente_archivo], [fecha_carga]) VALUES (3, N'4713', NULL, NULL, CAST(N'2025-08-28T22:05:20.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [stg].[Import_NumCredencial] OFF
GO
/****** Object:  Index [UX_Beneficiario_UnicoPorEmpleado]    Script Date: 18/11/2025 02:52:23 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Beneficiario_UnicoPorEmpleado] ON [dbo].[Beneficiario]
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contrato_Empleado_Fecha]    Script Date: 18/11/2025 02:52:23 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Contrato_Empleado_Fecha] ON [dbo].[Contrato]
(
	[id_empleado] ASC,
	[fecha_inicio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Empleado_num_trabajador]    Script Date: 18/11/2025 02:52:23 p. m. ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_Empleado_num_trabajador] UNIQUE NONCLUSTERED 
(
	[num_trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Empleado_nss_Filtered]    Script Date: 18/11/2025 02:52:23 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Empleado_nss_Filtered] ON [dbo].[Empleado]
(
	[nss] ASC
)
WHERE ([nss] IS NOT NULL AND [nss]<>'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Import_NumCredencial_num_trabajador]    Script Date: 18/11/2025 02:52:23 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Import_NumCredencial_num_trabajador] ON [stg].[Import_NumCredencial]
(
	[num_trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beneficiario] ADD  CONSTRAINT [DF_Beneficiario_Parentesco]  DEFAULT (N'No especificado') FOR [parentesco]
GO
ALTER TABLE [stg].[Import_NumCredencial] ADD  DEFAULT (sysdatetime()) FOR [fecha_carga]
GO
ALTER TABLE [dbo].[Beneficiario]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiario_Empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Beneficiario] CHECK CONSTRAINT [FK_Beneficiario_Empleado]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Area] FOREIGN KEY([id_area])
REFERENCES [dbo].[Area] ([id_area])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Area]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Empleado]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Jefe] FOREIGN KEY([id_jefe_inmediato])
REFERENCES [dbo].[JefeInmediato] ([id_jefe_inmediato])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Jefe]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Puesto] FOREIGN KEY([id_puesto])
REFERENCES [dbo].[Puesto] ([id_puesto])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Puesto]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Salario] FOREIGN KEY([id_salario])
REFERENCES [dbo].[Salario] ([id_salario])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_Salario]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_TipoContrato] FOREIGN KEY([id_tipo_contrato])
REFERENCES [dbo].[TipoContrato] ([id_tipo_contrato])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_TipoContrato]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_TipoNomina] FOREIGN KEY([id_tipo_nomina])
REFERENCES [dbo].[TipoNomina] ([id_tipo_nomina])
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [FK_Contrato_TipoNomina]
GO
ALTER TABLE [dbo].[Puesto]  WITH CHECK ADD  CONSTRAINT [FK_Puesto_Area] FOREIGN KEY([id_area])
REFERENCES [dbo].[Area] ([id_area])
GO
ALTER TABLE [dbo].[Puesto] CHECK CONSTRAINT [FK_Puesto_Area]
GO
ALTER TABLE [dbo].[Contrato]  WITH CHECK ADD  CONSTRAINT [CK_Contrato_Fechas] CHECK  (([fecha_fin] IS NULL OR [fecha_fin]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[Contrato] CHECK CONSTRAINT [CK_Contrato_Fechas]
GO
/****** Object:  StoredProcedure [dbo].[usp_Empleado_Actualizar]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Empleado_Actualizar]
  @id_empleado      int,
  @num_trabajador   varchar(20)    = NULL,
  @nombre_completo  nvarchar(150)  = NULL,
  @sexo             nvarchar(20)   = NULL,
  @fecha_nacimiento date           = NULL,
  @calle_numero     nvarchar(120)  = NULL,
  @colonia          nvarchar(120)  = NULL,
  @municipio        nvarchar(120)  = NULL,
  @nss              varchar(11)    = NULL
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE e
    SET num_trabajador   = COALESCE(@num_trabajador,  e.num_trabajador),
        nombre_completo  = COALESCE(@nombre_completo, e.nombre_completo),
        sexo             = COALESCE(@sexo,            e.sexo),
        fecha_nacimiento = COALESCE(@fecha_nacimiento,e.fecha_nacimiento),
        calle_numero     = COALESCE(@calle_numero,    e.calle_numero),
        colonia          = COALESCE(@colonia,         e.colonia),
        municipio        = COALESCE(@municipio,       e.municipio),
        nss              = COALESCE(@nss,             e.nss)
  FROM dbo.Empleado e
  WHERE e.id_empleado = @id_empleado;

  -- Devuelve la fila actualizada
  SELECT *
  FROM dbo.Empleado
  WHERE id_empleado = @id_empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Empleado_Buscar]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Empleado_Buscar]
  @busqueda nvarchar(100)
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @q nvarchar(100) = NULLIF(@busqueda, '');
  IF @q IS NULL
  BEGIN
    SELECT TOP 50 id_empleado, num_trabajador, nombre_completo
    FROM dbo.Empleado
    ORDER BY nombre_completo;
    RETURN;
  END

  SELECT TOP 50 id_empleado, num_trabajador, nombre_completo
  FROM dbo.Empleado
  WHERE num_trabajador LIKE @q
     OR nombre_completo LIKE @q
  ORDER BY nombre_completo;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Empleado_Insertar]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Empleado_Insertar]
  @num_trabajador    varchar(20)    = NULL,
  @nombre_completo   nvarchar(150)  = NULL,
  @sexo              nvarchar(20)   = NULL,
  @fecha_nacimiento  date           = NULL,
  @calle_numero      nvarchar(120)  = NULL,
  @colonia           nvarchar(120)  = NULL,
  @municipio         nvarchar(120)  = NULL,
  @nss               varchar(11)    = NULL
AS
BEGIN
  SET NOCOUNT ON;

  -- normaliza vacíos a NULL (por si no se hizo en app)
  SET @num_trabajador   = NULLIF(@num_trabajador,  '');
  SET @nombre_completo  = NULLIF(@nombre_completo, '');
  SET @sexo             = NULLIF(@sexo,            '');
  SET @calle_numero     = NULLIF(@calle_numero,    '');
  SET @colonia          = NULLIF(@colonia,         '');
  SET @municipio        = NULLIF(@municipio,       '');
  SET @nss              = NULLIF(@nss,             '');

  INSERT INTO dbo.Empleado (
    num_trabajador, nombre_completo, sexo, fecha_nacimiento,
    calle_numero, colonia, municipio, nss
  )
  VALUES (
    @num_trabajador,
    @nombre_completo,
    @sexo,
    TRY_CONVERT(date, @fecha_nacimiento, 23),
    @calle_numero,
    @colonia,
    @municipio,
    @nss
  );

  DECLARE @id int = SCOPE_IDENTITY();

  SELECT *
  FROM dbo.Empleado
  WHERE id_empleado = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Empleado_Obtener]    Script Date: 18/11/2025 02:52:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Empleado_Obtener]
  @id_empleado INT = NULL,
  @num_trabajador NVARCHAR(50) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  ;WITH base AS (
    SELECT *
    FROM dbo.vEmpleadoDetalle
    WHERE (@id_empleado IS NOT NULL AND id_empleado = @id_empleado)
       OR (@num_trabajador IS NOT NULL AND num_trabajador = @num_trabajador)
  ),
  b1 AS (
    SELECT TOP (1) *
    FROM base
    ORDER BY benef_nombre -- o benef_parentesco, como prefieras
  )
  SELECT
    id_empleado,
    num_trabajador,
    nombre_completo,
    sexo,
    fecha_nacimiento,
    calle_numero, colonia, municipio, estado, codigo_postal,
    telefono, estado_civil, escolaridad,
    curp, rfc, nss,
    fecha_ingreso,
    correo_electronico,
    num_credencial,

    area,
    puesto,
    jefe_inmediato,

    salario_desc,
    salario_monto,
    tipo_nomina,

    -- Alias consistentes para el frontend:
    benef_nombre       AS beneficiario_nombre,
    benef_telefono     AS beneficiario_telefono,
    benef_parentesco   AS beneficiario_parentesco,
    benef_correo       AS beneficiario_correo
  FROM b1;
END
GO
USE [master]
GO
